<div class="jumbotron">
    <h1>Node.js as build step</h1>
    <p class="lead">This application shows how you can automatically restore node packages and run node.js commands as an automatic build step in an ASP.NET project.</p>
<p>If the node.js build was successful, this page should render as a standard <a href="http://getbootstrap.com/" title="Bootstrap">Bootstrap</a> site and the copyright footer should display the current year.</p>
    <p><a href="https://github.com/ErikSchierboom/NodeBuildStep" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>